mat-toolbar {
  mat-icon {
    cursor: pointer;
  }

  button {
    padding: 0;
  }
}

.editor {
  min-height: 5em;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid black;
  padding: 1em;
  outline: 0 solid transparent;
}

.photoSlider {
  position: absolute;
  padding-left: 1em;
  padding-right: 1em;
}
