<section *ngIf="!choosingPhoto && !choosingInternalLink && !choosingExternalLink">
  <mat-toolbar *ngIf="!disabled">
    <button mat-icon-button matTooltip="Bold" matTooltipShowDelay="500" (click)="execCommand('bold')">
      <mat-icon>format_bold</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Italic" matTooltipShowDelay="500" (click)="execCommand('italic')">
      <mat-icon>format_italic</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Underline" matTooltipShowDelay="500" (click)="execCommand('underline')">
      <mat-icon>format_underlined</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Strikethrough" matTooltipShowDelay="500" (click)="execCommand('strikethrough')">
      <mat-icon>format_strikethrough</mat-icon>
    </button>

    <button mat-button [matMenuTriggerFor]="specialMenu" (menuOpened)="onSpecialOpen()" (menuClosed)="onSpecialClose()">
      Special
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #specialMenu>
      <button mat-menu-item *ngFor="let item of specialCharacters" (click)="special(item)" [innerHTML]="item"></button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="sizeMenu" (menuOpened)="onSizeOpen()" (menuClosed)="onSizeClose()">
      Size
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #sizeMenu>
      <button mat-menu-item (click)="size('normal')">
        Normal
      </button>
      <hr>
      <button mat-menu-item *ngFor="let item of sizes" (click)="size(item.class)">
        <span [class]="item.class">{{item.title}}</span>
      </button>
    </mat-menu>

    <button mat-icon-button matTooltip="Left align" matTooltipShowDelay="500" (click)="execCommand('justifyleft')">
      <mat-icon>format_align_left</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Center" matTooltipShowDelay="500" (click)="execCommand('justifycenter')">
      <mat-icon>format_align_center</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Right align" matTooltipShowDelay="500" (click)="execCommand('justifyright')">
      <mat-icon>format_align_right</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Justify" matTooltipShowDelay="500" (click)="execCommand('justifyfull')">
      <mat-icon>format_align_justify</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Bulleted list" matTooltipShowDelay="500" (click)="execCommand('insertunorderedlist')">
      <mat-icon>format_list_bulleted</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Numbered list" matTooltipShowDelay="500" (click)="execCommand('insertorderedlist')">
      <mat-icon>format_list_numbered</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Decrease indent" matTooltipShowDelay="500" (click)="execCommand('outdent')">
      <mat-icon>format_indent_decrease</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Increase indent" matTooltipShowDelay="500" (click)="execCommand('indent')">
      <mat-icon>format_indent_increase</mat-icon>
    </button>

    <button mat-button [matMenuTriggerFor]="linkMenu" (menuOpened)="onLinkOpen()" (menuClosed)="onLinkClose()">
      Link
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #linkMenu>
      <button mat-menu-item (click)="onInternalLink()">Internal</button>
      <button mat-menu-item (click)="onExternalLink()">External</button>
      <button mat-menu-item (click)="execCommand('unlink')">Remove</button>
    </mat-menu>

    <button mat-icon-button matTooltip="Add photo" matTooltipShowDelay="500" (click)="onAddPhoto()">
      <mat-icon>insert_photo</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Undo" matTooltipShowDelay="500" (click)="execCommand('undo')">
      <mat-icon>undo</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Redo" matTooltipShowDelay="500" (click)="execCommand('redo')">
      <mat-icon>redo</mat-icon>
    </button>
  </mat-toolbar>

  <mat-slider *ngIf="photo" class="photoSlider" min="0" max="100" step="1" [value]="photoSliderValue" [style.top.px]="photoSliderTop"
    [style.width.px]="photoSliderWidth" (input)="onPhotoSliderInput($event)" (document:click)="onBodyClick($event)"></mat-slider>

  <div #editor id="{{editorId}}" class="editor" [attr.contenteditable]="!disabled" tabindex="0" [innerHTML]="safeContent" (paste)="onPaste($event)"
    (input)="onBlur()"></div>
</section>

<admin-photo-list *ngIf="choosingPhoto" [allowSelection]="true" [showDone]="true" (done)="onPhotoListDone($event)"></admin-photo-list>

<choose-internal-link *ngIf="choosingInternalLink" (done)="onInternalLinkChosen($event)"></choose-internal-link>

<choose-external-link *ngIf="choosingExternalLink" (done)="onExternalLinkChosen($event)"></choose-external-link>
