<page-title name="Ministries"></page-title>

<general-error [errors]="errors"></general-error>

<section class="ministries" fxLayout="column" fxLayoutAlign="start center" *ngIf="showContent">
  <mat-card [ngStyle.sm]="{'width': '80vw'}" [ngStyle.md]="{'width': '70vw'}" [ngStyle.gt-md]="{'width': '60vw'}">
    <mat-card-content (click)="onContentClick($event)" fxLayout="column" fxLayoutGap=".5em">
      <p [innerHTML]="sanitizedHeader"></p>

      <section *ngFor="let item of model.list">
        <mat-expansion-panel [id]="item.id" (afterExpand)="afterExpand(item.id)">
          <mat-expansion-panel-header>
            {{item.name}}
          </mat-expansion-panel-header>

          <div style="margin-top: 1em" [innerHTML]="item.sanitizedPurpose"></div>
        </mat-expansion-panel>
      </section>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="onOKClick()">OK</button>
    </mat-card-actions>
  </mat-card>
</section>
