<page-title name="Events"></page-title>

<mat-card>
  <mat-card-content>
    <p>
      This website uses Google Calendar. When you press OK, you will be taken there.
    </p>
    <p>
      Make sure that you are using the right calendar by clicking the little circle on the top right and ensuring that the
      1<sup>st</sup> user shown is Vines to Wines. If it isn't, click on Vines to Wines.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="onOKClick()">OK</button>
  </mat-card-actions>
</mat-card>
