<mat-toolbar>
  <div>Calendar</div>
</mat-toolbar>

<mat-card>
  <mat-card-content>
    <p>
      This website uses Google Calendar. When you press OK, you will be taken there.
    </p>
    <p>
      Make sure that you are using the right calendar by clicking the little circle on the top right and ensuring that the
      1<sup>st</sup> user shown is Staves Church. If it isn't, click on Staves Church.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="onOKClick()">OK</button>
  </mat-card-actions>
</mat-card>
