<mat-toolbar fxLayout="column" fxLayout.gt-xs="row">
  <mat-toolbar-row fxLayout="column" fxLayoutGap="0.75em" fxLayoutAlign="center start" style="height: auto">
    Contact us
    <div class="mat-body-2" fxLayout="row">
      <mat-icon style="padding-top: 0.25em">place</mat-icon>
      <a href="https://goo.gl/maps/knmGM5ynS8R2" target="_blank" rel="noopener">
        2747 East Madison Avenue<br>Des Moines, IA 50317
      </a>
    </div>

    <div class="mat-body-2">
      <mat-icon>phone</mat-icon>
      <a href="tel:+1-515-266-0265">(515) 266-0265</a> (Church)
    </div>

    <div class="mat-body-2">
      <mat-icon>phone</mat-icon>
      <a href="tel:+1-515-783-2165">(515) 783-2165</a> (Pastor)
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row fxLayout="column" fxLayoutAlign="center start" style="height: auto">
    Worship time
    <span class="mat-body-2">Sunday School for all ages 9:00 AM</span>
    <span class="mat-body-2">Worship service 10:00 AM</span>
    <span class="mat-body-2">Fellowship time around 11:00 AM</span>
    <a class="mat-body-2" routerLink="admin">Admin</a>
  </mat-toolbar-row>
</mat-toolbar>
