<mat-toolbar color="primary" fxLayout="column" fxLayout.gt-xs="row">
  <mat-toolbar-row fxFlex="100%" fxFlex.gt-xs="10em" ngClass.lt-sm="mat-elevation-z6">
    <mat-toolbar-row style="padding: 0; outline: none; cursor: pointer;" routerLink="/">
      Vines to Wines DM
    </mat-toolbar-row>
  </mat-toolbar-row>

  <mat-toolbar-row #menuBar>
    <a mat-button style="min-width: 0; padding: 0 8px" *ngFor="let item of menu" [routerLink]="item.link">
      {{item.name}}
    </a>

    <button mat-icon-button *ngIf="overflowMenu" [matMenuTriggerFor]="moreMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #moreMenu="matMenu">
      <a mat-menu-item *ngFor="let item of overflowMenu" [routerLink]="item.link">
        {{item.name}}
      </a>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
