<page-title name="Announcement Edit"></page-title>

<general-error [errors]="errors"></general-error>

<mat-card>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="start baseline" fxLayoutGap="2em">
      <input-date [model]="model.effectiveFrom" (modelChange)="onEffectiveFromChange($event)" label="Effective from"
        placeholder="mm/dd/yyyy" [disabled]="readOnly" [errMsg]="errors?.effectiveFrom"></input-date>

      <input-date [model]="model.effectiveTo" (modelChange)="onEffectiveToChange($event)" label="Effective to"
        placeholder="mm/dd/yyyy" [disabled]="readOnly" [errMsg]="errors?.effectiveTo"></input-date>

      <mat-slide-toggle [(ngModel)]="model.content.urgent" (change)="saveStream.next()">Urgent</mat-slide-toggle>
    </div>

    <input-text label="Title" maxlength="128" [model]="model.content.title" (modelChange)="onTitleChange($event)"
      [errMsg]="errors?.content?.title"></input-text>

    <cms-editor [content]="model.content.description" (changed)="onContentChange($event)" [disabled]="readOnly"></cms-editor>
  </mat-card-content>

  <mat-card-actions>
    <cms-page-command-buttons [model]="model" [preApproveCheck]="createCanApprove()" (approve)="onApprove($event)"
      (change)="onChange($event)" (delete)="onDelete($event)" (recall)="onRecall($event)" (recover)="onRecover($event)"
      (error)="onError($event)"></cms-page-command-buttons>
    <br>
    <cms-page-status [model]="model"></cms-page-status>
  </mat-card-actions>
</mat-card>
