<page-title [name]="'r/'+subreddit"></page-title>

<general-error [errors]="errors"></general-error>

<ng-container *ngIf="vm$ | async as vm">
  <section *ngIf="vm.hasPosts">

    <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="1rem">
      <mat-card>
        <mat-card-actions>
          <button mat-raised-button (click)="next(vm.last, vm.modhash)">Next</button>
          <button mat-raised-button (click)="prev(vm.first, vm.modhash)">Prev</button>
        </mat-card-actions>
      </mat-card>

      <rr-post *ngFor="let listing of vm.children" [post]="listing"></rr-post>

      <mat-card>
        <mat-card-actions>
          <button mat-raised-button (click)="next(vm.last, vm.modhash)">Next</button>
          <button mat-raised-button (click)="prev(vm.first, vm.modhash)">Prev</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>

  <mat-card *ngIf="!vm.hasPosts">
    <mat-card-header>
      <mat-card-title>There are no posts in this subreddit</mat-card-title>
    </mat-card-header>
  </mat-card>
</ng-container>