<mat-toolbar>
  <a style="text-decoration: unset; color: unset;" [routerLink]="['/r', subreddit]">r/{{subreddit}}</a>

  <button mat-icon-button (click)="onNewSubreddit()">
    <mat-icon>edit</mat-icon>
  </button>
</mat-toolbar>

<general-error [errors]="errors"></general-error>

<mat-card *ngIf="isLoading">
  <mat-card-header>
    <mat-card-title>Please wait . . .</mat-card-title>
  </mat-card-header>
</mat-card>

<ng-container *ngIf="(vm$ | async) as vm">
  <ng-container *ngIf="!isLoading">
    <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="1rem" *ngIf="vm.hasPosts">
      <mat-card>
        <mat-card-actions>
          <a mat-raised-button [routerLink]="['/r', subreddit]"
            [queryParams]="{after: vm.after, modhash: vm.modhash}">Next</a>
        </mat-card-actions>
      </mat-card>

      <rr-post *ngFor="let listing of vm.children" [post]="listing"></rr-post>

      <mat-card>
        <mat-card-actions>
          <a mat-raised-button [routerLink]="['/r', subreddit]"
            [queryParams]="{after: vm.after, modhash: vm.modhash}">Next</a>
        </mat-card-actions>
      </mat-card>
    </div>

    <mat-card *ngIf="!errors && !vm.hasPosts">
      <mat-card-header>
        <mat-card-title>There are no posts in this subreddit</mat-card-title>
      </mat-card-header>
    </mat-card>
  </ng-container>
</ng-container>

<ng-template #newSubredditDialog>
  <h2 mat-dialog-title>Change Subreddit</h2>
  <mat-dialog-content>
      <input-text label="r/" (modelChange)="newSubreddit = $event" maxlength="256"></input-text>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true">Change</button>
    <button mat-button [mat-dialog-close]="false">Cancel</button>
  </mat-dialog-actions>
</ng-template>
