<mat-card>
  <mat-card-header>
    <mat-card-title>{{vm.title}}</mat-card-title>
    <mat-card-subtitle>
      <a [innerText]="'r/'+vm.subreddit" [routerLink]="['/r', vm.subreddit]"></a>
      <span style="margin-left: .5em;">{{vm.createdOn | date:'short'}}</span>
    </mat-card-subtitle>
  </mat-card-header>

  <a *ngIf="vm.hasImage" [href]="vm.url" target="_blank" rel="noopener noreferrer">
    <img #imgPost mat-card-image [src]="vm.thumbnail" loading="lazy" sizes="100vw" [srcset]="vm.srcset">
  </a>

  <video #vdoPost *ngIf="vm.hasVideo" mat-card-image controls="" muted="" [poster]="vm.thumbnail" preload="auto"
    (loadedmetadata)="vdoPost.muted=true">
    <source *ngFor="let videoSrc of vm.videoSrcs" [src]="videoSrc.url" [type]="videoSrc.type">
  </video>

  <div *ngIf="vm.hasEmbed" mat-card-image [innerHTML]="vm.embed"></div>

  <mat-card-content *ngIf="vm.hasText">
    <p #textPost style="overflow: hidden; max-height: 60vh;"
      [class.masked]="textPost.scrollHeight > textPost.clientHeight" [innerHTML]="vm.text"
      (click)="textPost.style.maxHeight = 'none'"></p>
  </mat-card-content>

  <mat-card-content *ngIf="vm.hasLink">
    <p style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
      <a [href]="vm.url" [innerText]="vm.url" target="_blank" rel="noopener noreferrer"></a>
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-icon-button aria-label="Share" *ngIf="canShare">
      <mat-icon *ngIf="!isSharing" (click)="share()">share</mat-icon>
      <mat-spinner diameter="35" *ngIf="isSharing"></mat-spinner>
    </button>
    <a mat-icon-button aria-label="Commet Count" disableRipple="true" (click)="showComments()">
      <mat-icon [matBadge]="vm.numComments" matBadgeColor="accent">comment</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>

<ng-template #preparingImage>
  <h2 mat-dialog-title>Preparing Image</h2>
  <mat-dialog-content>This is taking a bit longer . . .</mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true" *ngIf="imagePreparationTookTooLong">Share it</button>
  </mat-dialog-actions>
</ng-template>
