@import 'theme';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}
@font-face {
  font-family: "church";
  src: url("church.eot");
  src: url("church.eot?#iefix") format("embedded-opentype"), url("church.woff") format("woff"), url("church.ttf") format("truetype"), url("church.svg#church") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "church" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=" church-"]:before,
[class^="church-"]:before {
  font-family: "church" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.church-cross-and-flame-top:before {
  content: "\62";
}

.church-faith:before {
  content: "\63";
}

.church-pray:before {
  content: "\64";
}

.church-rules:before {
  content: "\65";
}

.church-cross-and-flame-bottom:before {
  content: "\61";
}
