<div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="1rem">

  <mat-card *ngFor="let listing of vm">
    <mat-card-header>
      <mat-card-title>{{listing.title}}</mat-card-title>
      <mat-card-subtitle>
        r/<span [innerText]="listing.subreddit"></span>
      </mat-card-subtitle>
    </mat-card-header>
    <img *ngIf="listing.hasImage" mat-card-image [src]="listing.thumbnail" loading="lazy">
    <video *ngIf="listing.hasVideo" mat-card-image controls="" muted="" [poster]="listing.thumbnail" preload="none">
      <source *ngFor="let videoSrc of listing.videoSrcs" [src]="videoSrc">
    </video>
    <div *ngIf="listing.hasEmbed" mat-card-image [innerHTML]="listing.embed"></div>
    <mat-card-content *ngIf="listing.hasText">
      <p #post style="overflow: hidden; max-height: 60vh;" [class.masked]="post.scrollHeight > post.clientHeight"
        [innerHTML]="listing.text"></p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-icon-button aria-label="Share">
        <mat-icon>share</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
