.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 40vh;
  text-align: center;
}

.app-title {
  font-family: 'Great Vibes', cursive;
  margin: .5em 0;
}
