<page-title name="Sermon Edit"></page-title>

<general-error [errors]="errors"></general-error>

<mat-card>
  <mat-card-content>
    <input-date [model]="model.effectiveFrom" (modelChange)="onEffectiveFromChange($event)" label="Effective from"
      placeholder="mm/dd/yyyy" [disabled]="readOnly" [errMsg]="errors?.effectiveFrom"></input-date>

    <input-text label="Title" maxlength="128" [model]="model.content.title" (modelChange)="onTitleChange($event)"
      [errMsg]="errors?.content?.title"></input-text>

    <mat-form-field floatLabel="always" class="mat-form-field--no-underline" style="width: 100%;">
      <!-- the matInput with display:none makes the magic. It's ugly, I've warned you -->
      <input matInput placeholder="File" style="display: none">
      <audio controls preload="metadata" volume="1.0" [src]="model.content.location" style="width: 100%"></audio>
      <button mat-raised-button color="accent" style="margin-top: 0.25em" (click)="onAddNewClick()">
        Choose file
        <input type="file" #newFile accept="audio/*" style="display: none" (change)="onNewFileChange($event)">
      </button>
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
    <cms-page-command-buttons [model]="model" [preApproveCheck]="createCanApprove()" (approve)="onApprove($event)"
      [allowOverlap]="true" (change)="onChange($event)" (delete)="onDelete($event)" (recall)="onRecall($event)"
      (recover)="onRecover($event)" (error)="onError($event)"></cms-page-command-buttons>
    <br>
    <cms-page-status [model]="model"></cms-page-status>
  </mat-card-actions>
</mat-card>
