<page-title name="Sermon Edit"></page-title>

<general-error [errors]="errors"></general-error>

<mat-card>
  <mat-card-content>
    <input-date [model]="model.effectiveFrom" (modelChange)="onEffectiveFromChange($event)" label="Effective from"
      placeholder="mm/dd/yyyy" [disabled]="readOnly" [errMsg]="errors?.effectiveFrom"></input-date>

    <input-text label="Title" maxlength="128" [model]="model.content.title" (modelChange)="onTitleChange($event)"
      [errMsg]="errors?.content?.title"></input-text>

    <audio controls preload="metadata" volume="1.0" [src]="model.content.location" style="width: 100%"></audio>

    <input-file accept="audio/*" (change)="onFiles($event)"></input-file>
  </mat-card-content>

  <mat-card-actions>
    <cms-page-command-buttons [model]="model" [preApproveCheck]="createCanApprove()" (approve)="onApprove($event)"
      [allowOverlap]="true" (change)="onChange($event)" (delete)="onDelete($event)" (recall)="onRecall($event)"
      (recover)="onRecover($event)" (error)="onError($event)"></cms-page-command-buttons>
    <br>
    <cms-page-status [model]="model"></cms-page-status>
  </mat-card-actions>
</mat-card>
