<mat-toolbar fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="0.75em" fxLayoutGap.gt-xs="0">
  <mat-toolbar-row fxLayout="column" fxLayoutGap="0.75em" fxLayoutAlign="center start" style="height: auto">
    Contact us
    <div class="mat-body-2" fxLayout="row">
      <mat-icon style="padding-top: 0.25em">place</mat-icon>
      <a href="https://goo.gl/maps/8PKWiWtz4NF2" target="_blank" rel="noopener">
        684 20th St Des Moines, IA 50314
      </a>
    </div>

    <div class="mat-body-2">
      <mat-icon>phone</mat-icon>
      <a href="tel:+1-515-664-5161">(515) 664-5161</a>
    </div>

    <div class="mat-body-2">
      <mat-icon>email</mat-icon>
      <a href="mailto:eric@vinestowinesdm.com" target="_blank" rel="noopener">eric@vinestowinesdm.com</a>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row fxLayout="column" fxLayoutGap="0.75em" fxLayoutAlign="center start" style="height: auto">
    <!-- Newsletter  -->
    <div class="mat-body-2">
      <a href="mailto:eric@vinestowinesdm.com?subject=Send%20Me%20The%20VINES%20to%20WINES%20newsletter!" target="_blank"
        rel="noopener">
        Get the Vines To Wines newsletter
      </a>
    </div>

    <a class="mat-body-2" routerLink="admin">Admin</a>
  </mat-toolbar-row>
</mat-toolbar>
