mat-form-field.mat-form-field, .mat-radio-group {
  font-size: 16px;
}

.mat-form-field--no-underline ::ng-deep .mat-form-field-underline {
  background-color: transparent;
}

mat-slider.mat-slider {
  height: inherit;
  ::ng-deep .mat-slider-wrapper {
    top: 8px
  }
}
