<homepage-banner></homepage-banner>

<section fxLayout="column" fxLayoutGap="1em">
  <section fxLayout="column" fxLayoutGap="1em" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="center stretch">
    <section fxFlex="100%" fxFlex.gt-xs="33%">
      <mat-card fxLayout="column" ngStyle.gt-xs="height: 100%">
        <mat-card-content fxFlex.gt-xs="grow">
          <h2>About Us</h2>
          <about-us-summary></about-us-summary>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="accent" routerLink="about-us">Learn more</a>
        </mat-card-actions>
      </mat-card>
    </section>

    <section fxFlex="100%" fxFlex.gt-xs="33%">
      <mat-card fxLayout="column" ngStyle.gt-xs="height: 100%">
        <mat-card-content fxFlex.gt-xs="grow">
          <h2>Events</h2>
          <!-- <app-event-summary></app-event-summary> -->
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="accent" routerLink="events">Learn more</a>
        </mat-card-actions>
      </mat-card>
    </section>

    <section fxFlex="100%" fxFlex.gt-xs="33%">
      <mat-card fxLayout="column" ngStyle.gt-xs="height: 100%">
        <mat-card-content fxFlex.gt-xs="grow">
          <h2>Wine List</h2>
          <!-- <app-sermon-summary></app-sermon-summary> -->
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="accent" routerLink="sermons">Learn more</a>
        </mat-card-actions>
      </mat-card>
    </section>
  </section>
</section>


<!-- <mat-card>
  <p>
    Vines To Wines is a unique winery where wine lovers can experience the fun of working in a winery by actually
    making
    their own wines.And not just any old wines either, but really good wines, such as Stag's Leap District, Napa Valley
    Merlot, Sonoma Chardonnay, Columbia Valley Riesling, Lodi Old Vine Zinfandel, Riesling Ice Style Wine, New Zealand
    Sauvignon Blanc, Italian Valpolicella and Pinot Grigio, and many, many others.
  </p>
  <p>
    Centrally located in the historic Sherman Hill District of Des Moines, customers go down into the wine cellar of a
    century old home to make their wines. When the weather permits, wine tastings, and wine makings are done outside,
    on a patio covered by an Italian style pergola with grape vines, and hundreds of clusters of grapes providing
    shade. In this unique environment Vines To Wines provides central Iowans with the opportunity to learn about wines,
    and to have a lot fun in the process, as they become their own wine maker.
  </p>
</mat-card> -->
