<homepage-banner></homepage-banner>

<section fxLayout="column" fxLayoutGap="1em">
  <section fxLayout="column" fxLayoutGap="1em" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="center stretch">
    <section fxFlex="100%" fxFlex.gt-xs="33%">
      <mat-card fxLayout="column" ngStyle.gt-xs="height: 100%">
        <mat-card-content fxFlex.gt-xs="grow">
          <h2>About Us</h2>
          <vtw-about-us-summary></vtw-about-us-summary>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="accent" routerLink="about-us">Learn more</a>
        </mat-card-actions>
      </mat-card>
    </section>

    <section fxFlex="100%" fxFlex.gt-xs="33%">
      <mat-card fxLayout="column" ngStyle.gt-xs="height: 100%">
        <mat-card-content fxFlex.gt-xs="grow">
          <h2>Events</h2>
          <vtw-events-summary></vtw-events-summary>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="accent" routerLink="events">Learn more</a>
        </mat-card-actions>
      </mat-card>
    </section>

    <section fxFlex="100%" fxFlex.gt-xs="33%">
      <mat-card fxLayout="column" ngStyle.gt-xs="height: 100%">
        <mat-card-content fxFlex.gt-xs="grow">
          <h2>Our Wines</h2>
          <!-- <vtw-wines-summary></vtw-wines-summary> -->
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="accent" routerLink="wines">Learn more</a>
        </mat-card-actions>
      </mat-card>
    </section>
  </section>
</section>
