<page-title name="Wines Edit"></page-title>

<general-error [errors]="errors"></general-error>

<mat-card>
  <mat-card-content>
    <input-date [model]="model.effectiveFrom" (modelChange)="onEffectiveFromChange($event)" label="Effective from"
      placeholder="mm/dd/yyyy" [disabled]="readOnly" [errMsg]="errors?.effectiveFrom"></input-date>

    <admin-wine [model]="model" kind="reds" name="Red Wines" [errors]="errors" (modelChange)="saveStream.next()"></admin-wine>

    <admin-wine [model]="model" kind="whites" name="White Wines" [errors]="errors" (modelChange)="saveStream.next()"></admin-wine>

    <admin-wine [model]="model" kind="speciality" name="Speciality Wines" [errors]="errors" (modelChange)="saveStream.next()"></admin-wine>
  </mat-card-content>

  <mat-card-actions>
    <cms-page-command-buttons [model]="model" [preApproveCheck]="createCanApprove()" (approve)="onApprove($event)"
      (change)="onChange($event)" (delete)="onDelete($event)" (recall)="onRecall($event)" (recover)="onRecover($event)"
      (error)="onError($event)"></cms-page-command-buttons>
    <br>
    <cms-page-status [model]="model"></cms-page-status>
  </mat-card-actions>
</mat-card>
