:host {
  display: flex;
  flex: 1 1 100%;
}

.app-title {
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  font-family: 'Great Vibes', cursive;
  text-align: center;
  width: 100%;
  line-height: 1.5;
  letter-spacing: 0.05em;
}
