<page-title name="Sermons"></page-title>

<general-error [errors]="errors"></general-error>

<mat-card>
  <mat-card-content fxLayout="column" fxLayoutGap="1em">
    <div *ngFor="let item of model">
      <h3>{{item?.effectiveFrom | date}}: {{item?.content.title}}</h3>
      <audio controls preload="metadata" volume="1.0" [src]="item?.content.location" style="width: 100%"></audio>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="onOKClick()">OK</button>
  </mat-card-actions>
</mat-card>
